@font-face {
    font-family: 'Quintessential-Regular';
    src: url('./resources/fonts/Quintessential-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    box-sizing: border-box;
    font-family: 'Quintessential-Regular';
    color: #f07b4d;
    font-size: large;
    font-weight: 100;
    user-select: none;
}
body {
    margin: 0;
}
.root {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #555;
}

.game {
    width: 800px;
    height: 600px;
    position: relative;
    background-image: url(/resources/background/animated.gif);
    overflow: hidden;
}
.container {
    padding-left: 40px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    inset: 0;
}

.active {
    opacity: 1 !important;
    visibility: visible !important;
    height: auto !important;
    transition:
        opacity 0.5s ease-in-out,
        visibility 0.5s ease-in-out,
        height 0.5s ease-in-out;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading h2 {
    font-size: xx-large;
}
.loading h3 {
    font-size: x-large;
}
.loading h2:hover {
    color: #cb2b3f;
    cursor: pointer;
}

#loading {
    background-color: #2e142d;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#main-menu {
    background-image: url('./resources/background/animated.gif');
}

#category-select {
    background-image: url('./resources/background/animated.gif');
}

#in-progress {
    background-image: url('./resources/background/cleared.png');
}

.progressBarContainer {
    width: 400px;
    background-color: #2d132c;
    border: 1px solid #f07b4d;
    border-radius: 50px;
    margin-top: 10px;
    overflow: hidden; /* Ensures inner bar stays within rounded corners */
}

.progressBar {
    width: 0%;
    height: 30px;
    background-color: #f07b4d;
    text-align: center;
    line-height: 30px;
    color: #f07b4d;
    transition: width 0.4s ease; /* Smooth transition for visual effect */
}

.progressBar span {
    padding-left: 10px;
    mix-blend-mode: difference;
}

.game-name {
    position: absolute;
    right: 0px;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 100px #2d132c;
}

.game-name h1 {
    font-size: xxx-large;
    font-weight: 100;
    letter-spacing: 11px;
    line-height: 5px;
    width: 335px;
    text-align: center;
}

.category-select {
    margin-top: 42%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
}

.category-select h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2rem;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.category {
    margin: 0;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-basis: 25%;
    cursor: pointer;
}
.category:hover {
    color: #cb2b3f !important;
}

.category input {
    display: none;
}

.category span {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    border: 2px solid #555;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    overflow: visible;
    position: relative;
}

.category input:checked + span::after {
    transform: rotate(45deg) scale(1);
}

.category span::after {
    content: '';
    width: 45px;
    height: 45px;
    position: absolute;
    background-image: url('./resources/elements/checkmark.png');
    transform: rotate(45deg) scale(0);
    transition: transform 0.2s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    rotate: -35deg;
    overflow: visible;
}

.category:hover > span::after {
    background-image: url('./resources/elements/checkmark_hovered.png');
}

.category-actions {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.category-actions h3 {
    margin: 0;
    margin-top: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}

.category-action-disabled {
    color: #555;
    cursor: not-allowed !important;
}

.category-action-disabled:hover {
    color: #555 !important;
}

.category-actions h3:hover {
    color: #cb2b3f;
}

.main-menu {
    margin-top: 45%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
}

.main-menu h2,
.main-menu h3 {
    margin: 0;
    cursor: pointer;
}

.main-menu h2:hover,
.main-menu h3:hover {
    color: #cb2b3f !important;
}

.main-menu h2 {
    font-size: 2.5rem;
}

.main-menu h3 {
    font-size: 1.5rem;
}

.status {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 335px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-shadow: 0px 0px 100px #2d132c;
    right: 10px;
}
.status > h1 {
    font-size: 2rem !important;
    visibility: hidden;
}
.in-progress-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
}

.in-progress-actions button {
    margin: 0;
    width: 100px;
    margin-top: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: unset;
    border: 1px #f07b4d solid;
    border-radius: 10px;
}
.in-progress-actions button:hover {
    background-color: #f07b4d;
    color: #f8c6ad;
}

.status h1,
.word h1,
.word h2 {
    margin: 0;
    font-size: xx-large;
    text-align: center;
    font-weight: 100;
    letter-spacing: 15px;
}

.word h2 {
    font-size: x-large;
}

.hangman {
    position: absolute;
    inset: 0;
}

.props img {
    position: absolute;
    inset: 0;
}

.score {
    margin-top: 39%;
    position: absolute;
    font-size: x-large;
    color: #f07b4d;
}

.keyboard {
    margin-top: 44%;
    position: absolute;
}

.keyboard div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.keyboard button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px #f07b4d solid;
    border-radius: 20%;
    color: #f07b4d;
    cursor: pointer;
}

.keyboard button:hover {
    background-color: #f07b4d;
    border-radius: 20%;
    color: #2e142d;
    cursor: pointer;
}

.wrong-letter {
    background-color: #cb2b3f !important;
    color: #2e142d !important;
    border: none !important;
    cursor: not-allowed !important;
}

.correct-letter {
    background-color: #f8c6ad !important;
    color: #2e142d !important;
    border: none !important;
    cursor: not-allowed !important;
}

.keyboard .disabled:hover {
    background-color: #2e142d;
    border-radius: 20%;
    color: #f07b4d;
    cursor: not-allowed;
}

.clear-score-confirmation {
    margin-top: 42%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
}

.clear-score-confirmation h2 {
    margin: 0;
    font-size: 2rem;
}
.clear-score-confirmation h3 {
    margin: 0;
    margin-top: 30px;
    font-size: 1.5rem;
}

.clear-score-actions {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 30px;
}

.clear-score-actions h3 {
    margin: 0;
    margin-top: 10px;
    font-size: 1.6rem;
    cursor: pointer;
}

.clear-score-actions h3:hover {
    color: #cb2b3f;
}

.credit {
    margin-top: 42%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
}

.credit h2 {
    margin: 0;
    font-size: 2rem;
}
.credit h3 {
    margin: 0;
    font-size: 1.8rem;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 0px;
}

.link {
    margin: 0;
    align-items: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    flex-basis: 15%;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}
.link:hover {
    color: #cb2b3f !important;
}

.credit-actions {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.credit-actions h3 {
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.credit-actions h3:hover {
    color: #cb2b3f;
}

.fade-reveal {
    -webkit-mask-image: linear-gradient(
        to bottom,
        black var(--fade-point),
        transparent calc(var(--fade-point) + 20%)
    );
    mask-image: linear-gradient(
        to bottom,
        black var(--fade-point),
        transparent calc(var(--fade-point) + 20%)
    );

    animation: reveal 2s ease-out forwards;
}
.fade-reveal-reverse {
    -webkit-mask-image: linear-gradient(
        to top,
        black var(--fade-point),
        transparent calc(var(--fade-point) + 20%)
    );
    mask-image: linear-gradient(
        to top,
        black var(--fade-point),
        transparent calc(var(--fade-point) + 20%)
    );

    animation: reveal 2s ease-out forwards;
}

.reverse {
    animation-direction: reverse;
}

@property --fade-point {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
@keyframes reveal {
    from {
        --fade-point: -20%;
    }
    to {
        --fade-point: 100%;
    }
}

.slide-down {
    animation: remove-margin 200ms ease-out forwards;
}

@keyframes remove-margin {
    from {
        margin-top: -12px;
    }
    to {
        margin-top: 0;
    }
}
.slide-down-rock {
    animation: add-margin-rock 200ms ease-out forwards;
}

@keyframes add-margin-rock {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 60px;
    }
}
.slide-down-won {
    animation: remove-margin-won 400ms ease-out forwards;
}

@keyframes remove-margin-won {
    from {
        margin-top: -12px;
    }
    to {
        margin-top: 35px;
    }
}

.slide-down-rock-won {
    animation: add-margin-rock-won 400ms ease-out forwards;
}

@keyframes add-margin-rock-won {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 50px;
    }
}
.drop-out {
    animation: dropToBottom 0.3s ease-in forwards;
}

@keyframes dropToBottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
.watermark {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 100px #2d132c;
    visibility: hidden;
    opacity: 0;
}

.watermark h3 {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 5px;
    text-align: center;
}

.audio-control {
    position: absolute;
    left: 10px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 100px #2d132c;
    visibility: hidden;
    opacity: 0;
}

.audio {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;
    z-index: 2;
}

.audio-control .audio-normal {
    background-image: url('/resources/elements/audio.png');
}

.audio-control .audio-normal:hover {
    background-image: url('/resources/elements/audio_hover.png');
}
.audio-control .audio-muted {
    background-image: url('/resources/elements/audio_muted.png');
}

.audio-control .audio-muted:hover {
    background-image: url('/resources/elements/audio_muted_hover.png');
}

.exit {
    position: absolute;
    left: 70px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 100px #2d132c;
    visibility: hidden;
    opacity: 0;
}

.exit span {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;
    z-index: 2;
    background-image: url('/resources/elements/exit.png');
}

.exit span:hover {
    background-image: url('/resources/elements/exit_hover.png');
}

.display-none {
    display: none;
}

.width-zero {
    width: 0px !important;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

.ml-1px {
    margin-left: 1px;
}
.mr-1px {
    margin-left: -1px;
}
.mt-1px {
    margin-top: 1px;
}
.mt-2px {
    margin-top: 2px;
}
.mb-1px {
    margin-top: -1px;
}

.mb-12px {
    margin-top: -12px;
}
